<div class="bg-image">
  <div class="container">
    <div class="card">

      <div class="card-header text-center">
        <h1>Game</h1>
      </div>
      <div class="card-body">
        <!-- if button has never been pressed, show default text-->
        <!-- otehrwise, show the game prompt!-->
        <h5 *ngIf="!showLore">Welcome to the game! Play by pressing the explore button to explore this planet's lore, or fight enemies in encounters! </h5>
          <!-- show regularly -->
        <h5 *ngIf="showLore && gamePrompt != 'You are currently in a fight!'">{{ gamePrompt }}</h5>
        <h5  class="text-danger"*ngIf="gamePrompt === 'You are currently in a fight!'">{{ gamePrompt }}</h5>

        <!-- show game component inside card body-->
        <!-- if gameprompt is not "You are currently in a fight!", 
        then hide the component and set combat message to nothing-->
        <!-- otherwise, show the component!-->
        <app-combat *ngIf="!appComponent.resetFight"></app-combat>


      </div>
      <div class="card-footer">
        <h5 class="text-success">{{ statPrompt }}</h5>
      </div>
    </div>
    <div class="btn-group d-flex justify-content-around" role="group" aria-label="Basic example">
      <button [disabled]="appComponent.isFighting" (click)="getEncounter()" type="button"
        class="btn btn-primary btn-block fa-lg gradient-custom-2">Explore</button>
      <button routerLink="homepage" type="button" class="btn btn-primary">Return to Dashboard</button>
    </div>
  </div>
</div>