<!-- homebar component here -->


<!-- card deck here -->
<!-- wrapped in its own container -->

<div class="container">
    <div class="card-group">
        <div class="col">
            <div class="card">
                <img src="https://i.kym-cdn.com/entries/icons/mobile/000/037/268/Untitled-1.jpg" class="card-img-top"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Create a character</h5>
                    <p class="card-text">Create a custom character based off of the Star Wars Universe!</p>

                </div>
                <div class="card-footer">
                    <a id="create-button" class="btn btn-primary gradient-custom-2">Create</a>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="card">
                <img src="https://i.kym-cdn.com/entries/icons/mobile/000/037/268/Untitled-1.jpg" class="card-img-top"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Play</h5>
                    <p class="card-text">Play the game! Note: you must have a character created in order to play.</p>

                </div>
                <div class="card-footer">
                    <a id="create-button" class="btn btn-primary gradient-custom-2">Play!</a>
                </div>
            </div>
        </div>

        <div class="col mb-2">
            <div class="card h-100">
                <img src="https://i.kym-cdn.com/entries/icons/mobile/000/037/268/Untitled-1.jpg" class="card-img-top"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">View more info</h5>
                    <p class="card-text">View more info related to your custom characters, user, or more about this game.</p>

                </div>
                <div class="card-footer">
                    <a id="create-button" class="btn btn-primary gradient-custom-2">View info</a>
                </div>
            </div>
        </div>



    </div>


</div>