.card{
  color: whitesmoke;
  margin-top: 20%;
  width: 30rem;
  text-align: center;
  background-color: black;
}

.img{
  width: 20rem;
  height: 15rem;
}
.list-group-item{
  font-size: xx-large;
  text-align: left;
  background-color: bisque;
}
