<!-- this will first display the players character list to select who they want to use to fight with
    then it will go into the actual combat calculation steps shown in the trello combat image-->

<p>combat works!</p>
<!--Background will be the planet color? or maybe sand for tatooine?-->

<!--Card left (NPC)                      Card right(Player)
    character image   |              |   image         |
                      |              |                 |
                      |              |                 |
                      |              |                 |
    Atk             # |              |   Atk         # |
    Def             # |              |   Def         # |
    FP              # |              |   FP          # |
  _____________________                 ________________  -->

  <div class="modal charSelectModal">
    <div id="characterList">
      <ul id="list"> <!-- this will be dynamically filled with the players characters later-->
      </ul>
    </div>
  </div>

  <!-- ill make this look better later-->
  <div class="backgroundContainer">
    <div class="cardContainer">
      <div class="npcCard">

      </div>
      <div class="playerCard">

      </div>
    </div>
  </div>
